<div class="container">
  <h3>Post A Tree!</h3>

  <form method="POST" enctype="multipart/form-data" action="/api/tree/infected">
    <input type="file" name="picture">
    <input type="text" placeholder="Latitude" name="latitude">
    <input type="text" placeholder="Longitude" name="longitude">
    <input type="text" placeholder="Description" name="description">
    <input type="submit">     
  </form>
</div>
